[package]
name = 'pallet-jton-matchmaker'
version = '0.1.0'
description = 'Jeton Network pallet matchmaker for creating matches between players.'
authors = ['Jeton Network <https://github.com/JetonNetwork>']
edition = '2018'
homepage = 'https://jeton.network'
license = 'Apache License 2.0'
repository = 'https://github.com/JetonNetwork/pallet-jton-matchmaker/'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies]
frame-support = { default-features = false, version = '3.0.0' }
frame-system = { default-features = false, version = '3.0.0' }

[dev-dependencies]
serde = { version = "1.0.119" }
sp-core = { default-features = false, version = '3.0.0' }
sp-io = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
]
